@import url( https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en)
Body{
    margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;

}
body{
	background-color: #0f0538;
	
	color: #ededed;
}


.header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

}
.header h2{
	position: relative;
	font-size: 30px;
	color: #252839;
	-webkit-text-stroke:2px #383d52;
	text-transform: uppercase;
	font-family: georgia;
	
	
}
.header h2::before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color:#04adff;
	-webkit-text-stroke:0 #383d52;
	border-right: 2px solid #04adff;
	overflow: hidden;
	animation: animate 6s linear infinite;

}
@keyframes animate{
	0%,10%,100%{
		width: 0;
	}
	70%{
		width: 100%;
	}

}

.navbar a{
	font-size: 19px;
	color:#ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	font-family: georgia;
}

.navbar a:hover,
.navbar a.active{
	color:#00abf0;
}

.home{
	height:100vh;
	background: #0f0538;
	background-position:center;
	
	display: flex;
	align-items: center;
	padding: 0 10%;

}

.home-content{
	max-width: 600px;

}
.home-content h1{
	 font-size: 50px;
    font-family: georgia;
	text-align:center;
	color:transparent;
	-webkit-background-clip:text;
	background-position:0 0;
	animation:back 30s linear infinite;
	background-image:url('photo/2.jpg');
	
}
@keyframes back{
	100%{
		background-position:2000px 0;
	}
}

.home-content h3{
	font-size: 28px;
	font-weight: 700;
	color: #00abf0;
	font-family:georgia;
}
.home-content p{
	font-size: 16px;
	margin: 20px 0 40px;
	font-family:cursive;

}
.home-content .btn-box{
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
	

}
.btn-box a{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #00abf0;
	border:2px solid #00abf0;
	border-radius: 8px;
	text-decoration: none;
	color:#081b29;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
	font-family: verdana;
}
.btn-box a:hover{
	color:#00abf1;
}
.btn-box a:nth-child(2){
	background: transparent;
	color: #00abf0;
}
.btn-box a:nth-child(2):hover{
	color:#081b29;
}
.btn-box a:nth-child(2)::before {
	background: #00abf0;

}
.btn-box a::before {
	content: '';
	position: absolute;;
	top:0;
	left:0;
	width: 0;
	height: 100%;
	z-index: -1;
	transition: .5s;
	background: #0f0538;

}
.btn-box a:hover::before {
	width: 100%;

}
.home-sci{
	position: absolute;
	bottom: 40px;
	width: 190px;
	display: flex;
	justify-content: space-between;

}
.home-sci a{
	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius:50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}
.home-sci a:hover{
	color: #081b29;
}

.home-sci a::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width:0;
	height: 100%;
	background:#00abf0;
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover::before{
	width:100%;
}
.home img{
	position: right;

}
.website-divider-container-230578 {
  overflow:hidden;
  position: relative;
  height: 100%;
}

.divider-img-230578
{
	position: absolute;
	width: 229%;
	height: 270px;
	float: right;
	transform: scale(-1, -1);
	top:0px;
	right: 0px;
	fill: rgb(1, 5, 82)
}
.home .imageSection{
	position: relative;
	min-width: 350px;
	height: 350px;
	margin-left: 100px;

}
.imageSection img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 2;

}
.home .imageSection::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	outline: 3px solid #00abf0;
	bottom:15px;
	right:15px;
	z-index: 1;

}